<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Portfolio</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="container">
		<nav class="navbar">
			<div class="logo">SRUTHY</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Skills</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<div class="content">
			<h1>Hello! <br> I'm <span>Sruthy Krishnan</span></h1>
			<p>Python FullStack Web Developer</p>
			<div class="buttons">
				<a href="#" class="btn yellow">Hire Me</a>
				<a href="#" class="btn">My Works</a>
			</div>
		</div>
		<div class="image">
			<img src="{{ url_for('static', filename='profile.png') }}" alt="Sruthy krishnan">
		</div>
	</div>
</body>

</html>
